<div class="flex justify-center">
  <div class="shadow-sm rounded-xl w-[300px] xs:w-[250px]">
    <img
      [ngClass]="{ 'blur-sm': isBlur }"
      [src]="imageUrl"
      [alt]="menu.name"
      class="object-contain mx-auto h-[300px] xs:h-[230px] md:h-[150px] xl:h-[200px] w-[300px] xs:w-[250px] bg-amber-100 rounded-xl"
    />
    <div class="p-3">
      <p class="my-1 text-sm line-clamp-1">{{ menu.name }}</p>
      <p class="font-bold text-lg">
        <span *ngIf="menu.id; else loadingPrice">Rp. {{ menu.price }}</span>
        <ng-template #loadingPrice>
          <div class="flex flex-col gap-1">
            <span
              class="inline-block h-5 w-full bg-gray-300 rounded animate-pulse"
            ></span>
            <span
              class="inline-block h-6 w-24 bg-gray-300 rounded animate-pulse"
            ></span>
          </div>
        </ng-template>
      </p>
    </div>
  </div>
</div>
