<div
  class="border-[1px] border-slate-300 rounded-lg px-3 pt-5 pb-3 flex space-x-4 items-center w-full"
>
  <form
    [formGroup]="passwordChangeForm"
    (ngSubmit)="onSubmit()"
    class="w-full space-y-3"
  >
    <div class="space-y-5">
      <div class="flex flex-col w-full">
        <p-floatlabel variant="on">
          <input
            pInputText
            type="password"
            class="w-full"
            id="password"
            formControlName="password"
            autocomplete="off"
          />
          <label for="password">New Password</label>
        </p-floatlabel>
        <small
          *ngIf="
            passwordChangeForm.get('password')?.invalid &&
            passwordChangeForm.get('password')?.touched
          "
          class="text-red-500"
        >
          {{ passwordChangeForm.get("email")?.errors?.["zod"] }}
        </small>
      </div>
      <div class="flex flex-col w-full">
        <p-floatlabel variant="on">
          <input
            pInputText
            type="password"
            class="w-full"
            id="passwordConfirmation"
            formControlName="passwordConfirmation"
            autocomplete="off"
          />
          <label for="passwordConfirmation">Password Confirmation</label>
        </p-floatlabel>
        <small
          *ngIf="
            passwordChangeForm.get('passwordConfirmation')?.invalid &&
            passwordChangeForm.get('passwordConfirmation')?.touched
          "
          class="text-red-500"
        >
          {{ passwordChangeForm.get("passwordConfirmation")?.errors?.["zod"] }}
        </small>
      </div>
    </div>
    <hr class="border-slate-300" />
    <div class="flex justify-end">
      <p-button
        [disabled]="passwordChangeForm.invalid || loading"
        class="w-full md:w-[120px]"
        [style]="{
          width: '100%',
        }"
        label="Update"
        size="small"
        type="submit"
      />
    </div>
  </form>
</div>
