PRODUCTION=false
BASE_URL=http://localhost:4200
PORT=4200
ALLOWED_ORIGINS=http://localhost:4200,https://warmakth.up.railway.app
API_BASE_URL=http://localhost:8081/api
GOOGLE_REDIRECT_URI=
CLIENT_ID=
GOOGLE_SCOPE=
RESPONSE_TYPE=
ACCESS_TYPE=