@if (token) {
  <form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
    novalidate
    class="forgot-password"
  >
    @for (field of resetPasswordFields; track field.name; let i = $index) {
      <ng-container>
        <input
          [type]="field.type"
          [formControlName]="field.name"
          [placeholder]="field.label"
        />
        @if (
          resetPasswordForm.controls[field.name].touched &&
          resetPasswordForm.controls[field.name].invalid
        ) {
          <div class="text-red-500 text-sm mt-1">
            {{ resetPasswordForm.controls[field.name].getError("zod") }}
          </div>
        }
      </ng-container>
    }

    <button type="submit" [disabled]="isLoading || resetPasswordForm.invalid">
      {{ isLoading ? "Loading..." : "Send Request" }}
    </button>
  </form>
} @else {
  <app-notfound-page></app-notfound-page>
}
