<!-- Desktop Table (hidden lg:block) -->
<div
  class="hidden md:block px-3 relative md:max-h-[calc(100vh_-_110px)] lg:max-h-[calc(100vh_-_140px)] overflow-auto small-scrollbar"
>
  <table
    class="w-full min-w-full text-sm shadow-sm text-left rtl:text-right rounded-lg overflow-hidden text-gray-500 dark:text-gray-400 table-fixed box-border"
  >
    <!--  Header -->
    <thead
      class="sticky top-0 z-10 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr class="w-full">
        <ng-container *ngFor="let coloumn of coloumns">
          <th
            scope="col"
            class="px-6 py-3 box-border bg-gray-50 dark:bg-gray-700"
          >
            {{ coloumn.name }}
          </th>
        </ng-container>
      </tr>
    </thead>

    <tbody>
      <!-- Loading Skeleton -->
      <ng-container *ngIf="loading">
        <tr
          *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200"
        >
          <!-- Gambar -->
          <td class="px-6 py-1.5">
            <div
              class="w-[60px] h-[60px] bg-gray-200 dark:bg-gray-600 rounded-md animate-pulse"
            ></div>
          </td>

          <!-- Nama -->
          <td class="px-6 py-2.5">
            <div
              class="h-4 w-3/4 bg-gray-200 dark:bg-gray-600 rounded animate-pulse"
            ></div>
          </td>

          <!-- Harga -->
          <td class="px-6 py-2.5">
            <div
              class="h-4 w-1/2 bg-gray-200 dark:bg-gray-600 rounded animate-pulse"
            ></div>
          </td>

          <!-- Kategori -->
          <td class="px-6 py-2.5">
            <div
              class="h-4 w-1/3 bg-gray-200 dark:bg-gray-600 rounded animate-pulse"
            ></div>
          </td>

          <!-- Action -->
          <td class="px-6 py-2.5">
            <div class="flex space-x-2">
              <div
                class="h-8 w-8 bg-gray-200 dark:bg-gray-600 rounded-md animate-pulse"
              ></div>
              <div
                class="h-8 w-8 bg-gray-200 dark:bg-gray-600 rounded-md animate-pulse"
              ></div>
            </div>
          </td>
        </tr>
      </ng-container>

      <!-- Data Not Available -->
      <tr
        *ngIf="!loading && menus.length === 0"
        class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200"
      >
        <td
          colspan="5"
          class="px-6 py-2.5 text-center text-gray-500 dark:text-gray-400"
        >
          Data not available
        </td>
      </tr>

      <!-- Data Rows -->
      <ng-container *ngIf="!loading && menus.length > 0">
        <tr
          *ngFor="let menu of menus"
          class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <td class="px-6 py-1.5 box-border font-medium text-gray-900 truncate">
            <p-image
              [src]="createImgUrl(menu.image?.id)"
              [alt]="menu.name"
              [preview]="true"
              width="60"
              [styleClass]="'object-cover rounded-lg overflow-hidden'"
              [style]="{ width: '60px', height: '60px' }"
            >
              <ng-template #indicator>
                <i class="pi pi-search"></i>
              </ng-template>
            </p-image>
          </td>
          <td class="px-6 py-2.5 box-border truncate">
            {{ menu.name }}
          </td>
          <td class="px-6 py-2.5 box-border truncate">
            Rp. {{ menu.price | number: "1.0-0" }}
          </td>
          <td class="px-6 py-2.5 box-border truncate">
            <span
              [pTooltip]="menu.categoryId"
              [autoHide]="false"
              tooltipPosition="top"
              class="text-sm cursor-pointer"
            >
              {{ menu.category }}
            </span>
          </td>
          <td class="px-6 py-2.5 box-border truncate">
            <div class="flex space-x-2">
              <p-button
                icon="pi pi-trash"
                styleClass="p-button-sm p-button-text p-button-danger"
                (click)="handleDelete(menu.id)"
              >
              </p-button>
              <p-button
                icon="pi pi-pencil"
                styleClass="p-button-sm p-button-text p-button-warning"
                (click)="handleUpdate(menu.id)"
              >
              </p-button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<!-- Mobile Table (md:hidden) -->
<div class="md:hidden text-sm px-2 pt-2">
  <!-- Loading Skeleton -->
  <ng-container *ngIf="loading; else menuList">
    <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
      <div
        class="bg-white rounded-md shadow-xs border border-gray-100 mb-3 flex p-1 animate-pulse"
      >
        <!-- Left-aligned image skeleton -->
        <div class="w-32 h-32 shrink-0 m-2 self-center">
          <div class="w-full h-full bg-gray-200 rounded-md"></div>
        </div>

        <!-- Content skeleton -->
        <div class="p-3 flex-1 flex flex-col">
          <!-- Menu info skeleton -->
          <div class="mb-2">
            <div class="h-5 w-3/4 bg-gray-200 rounded mb-2"></div>
            <div class="h-5 w-1/3 bg-gray-200 rounded"></div>
          </div>

          <!-- Category and buttons skeleton -->
          <div class="mt-auto flex justify-between items-center">
            <div class="h-4 w-16 bg-gray-200 rounded-md"></div>
            <div class="flex gap-2">
              <div class="h-8 w-8 bg-gray-200 rounded-md"></div>
              <div class="h-8 w-8 bg-gray-200 rounded-md"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <!-- Not Found -->
  <ng-container *ngIf="!loading && menus.length === 0">
    <div class="text-center py-10">
      <p class="text-gray-500 text-lg">Data tidak tersedia</p>
    </div>
  </ng-container>

  <!-- Menu List -->
  <ng-template #menuList>
    <div *ngFor="let menu of menus">
      <app-menu-table-card
        [menu]="menu"
        (handleDelete)="handleDelete($event)"
        (handleUpdate)="handleUpdate($event)"
      />
    </div>
  </ng-template>
</div>
