<div class="flex justify-center">
  <div class="shadow-sm rounded-xl">
    <p-image
      [src]="imageUrl"
      [alt]="menu.name"
      [preview]="true"
      [imageClass]="
        [
          'object-cover',
          'mx-auto',
          'h-[150px]',
          'md:h-[150px]',
          'xl:h-[200px]',
          'w-[170px]',
          'xs:w-[190px]',
          'md:w-[175px]',
          'lg:w-[180px]',
          'xl:w-[250px]',
          'bg-slate-400',
          'rounded-xl',
          isBlur() ? 'blur-sm' : '',
        ].join(' ')
      "
    ></p-image>
    <div class="p-1.5 xs:p-3">
      <p class="mt-1 text-sm font-semibold line-clamp-1">{{ menu.name }}</p>
      <div class="grid grid-cols-[75%_25%] w-full items-center">
        <p class="font-bold text-lg">
          <span *ngIf="menu.id; else loadingPrice"
            >Rp. {{ menu.price | number: "1.0-0" }}</span
          >
          <ng-template #loadingPrice>
            <div class="flex flex-col gap-1">
              <span
                class="inline-block h-5 w-full bg-gray-300 rounded animate-pulse"
              ></span>
              <span
                class="inline-block h-6 w-24 bg-gray-300 rounded animate-pulse"
              ></span>
            </div>
          </ng-template>
        </p>
        <button
          *ngIf="menu.id"
          [disabled]="loadingButton"
          (click)="onAddToCart()"
          class="bg-[#04A033] disabled:bg-slate-400 text-white flex items-center justify-center h-8 w-8 xs:w-10 xs:h-10 md:h-8 md:w-8 xl:w-10 xl:h-10 cursor-pointer rounded-full"
        >
          <ng-icon name="bootstrapPlusLg" />
        </button>
      </div>
    </div>
  </div>
</div>
