<div
  class="border-[1px] border-slate-300 rounded-lg px-3 pt-5 pb-3 flex space-x-4 items-center w-full"
>
  <form
    [formGroup]="emailChangeForm"
    (ngSubmit)="onSubmit()"
    class="w-full space-y-3"
  >
    <div class="space-y-5">
      <div class="flex flex-col w-full">
        <p-floatlabel variant="on">
          <input
            pInputText
            type="email"
            class="w-full"
            id="newEmail"
            formControlName="newEmail"
            autocomplete="off"
          />
          <label for="newEmail">Email</label>
        </p-floatlabel>
        <small
          *ngIf="
            emailChangeForm.get('newEmail')?.invalid &&
            emailChangeForm.get('newEmail')?.touched
          "
          class="text-red-500"
        >
          {{ emailChangeForm.get("newEmail")?.errors?.["zod"] }}
        </small>
      </div>
      <div class="flex flex-col w-full">
        <p-floatlabel variant="on">
          <input
            pInputText
            type="password"
            class="w-full"
            id="passwordConfirmation"
            formControlName="passwordConfirmation"
            autocomplete="off"
          />
          <label for="passwordConfirmation">Konfirmasi Password</label>
        </p-floatlabel>
        <small
          *ngIf="
            emailChangeForm.get('passwordConfirmation')?.invalid &&
            emailChangeForm.get('passwordConfirmation')?.touched
          "
          class="text-red-500"
        >
          {{ emailChangeForm.get("passwordConfirmation")?.errors?.["zod"] }}
        </small>
      </div>
    </div>
    <hr class="border-slate-300" />
    <div class="flex justify-end">
      <p-button
        [disabled]="emailChangeForm.invalid || loading"
        class="w-full md:w-[120px]"
        [style]="{
          width: '100%',
        }"
        [label]="loading ? 'Loading' : 'Update'"
        size="small"
        type="submit"
      />
    </div>
  </form>
</div>
