<div
  class="w-ful grid grid-cols-1 lg:grid-cols-[70%_30%] xl:grid-cols-[70%_30%] bg-auth-layout"
>
  <div class="flex flex-col min-h-screen border-r-[1px] border-slate-300">
    <div
      class="py-2 px-2 lg:px-3 md:py-4 w-full flex items-center justify-between gap-x-2.5 sticky top-0 z-10 bg-auth-layout"
    >
      <app-searchbar
        [initialSearch]="initialSearch"
        (searchChange)="onSearch($event)"
        class="w-full"
      />
      <app-toggle-filter />
    </div>
    <div class="px-2 lg:px-3">
      <img
        src="/img/banner.png"
        alt="banner"
        class="rounded-xl shadow-sm min-h-[131px] xs:min-h-[231px] md:min-h-[150px]"
      />
      <app-categorybar />
      <app-menu-list />
    </div>
    <app-pagination
      [paginationData]="menuPagination"
      [fetchData]="fetchMenus.bind(this)"
      class="mt-auto"
    />
  </div>
  <div class="hidden lg:block w-full sticky top-0 z-10 h-screen bg-cart">
    <ng-container *ngIf="isUser">
      <app-cart />
    </ng-container>
    <div *ngIf="isAdmin" class="cart-admin-container block">
      <app-cart-admin />
    </div>
  </div>
</div>
