<div class="w-full flex justify-center fixed shadow bg-white z-100">
  <div
    class="w-full max-w-[1440px] h-[56px] flex justify-end md:justify-between items-center px-2 lg:px-6 xl:py-1"
  >
    <a [routerLink]="urlPage.HOME" class="hidden md:block">
      <img src="/img/logo.jpg" class="w-10 h-10" />
    </a>

    <div class="flex items-center space-x-6">
      @if (profile) {
        <a [routerLink]="urlPage.HOME" class="font-semibold text-blue-700">
          Masuk
        </a>
        <button
          (click)="handleLogout()"
          class="bg-blue-600 px-6 py-1 rounded-md text-white cursor-pointer"
        >
          Logout
        </button>
      } @else {
        <a [routerLink]="urlPage.REGISTER">Register</a>
        <a
          [routerLink]="urlPage.LOGIN"
          class="bg-[#F86901] px-6 py-1 rounded-md text-white"
        >
          Login
        </a>
      }
    </div>
  </div>
</div>
