<label for="table-search" class="sr-only">Search</label>
<div class="relative w-full">
  <div
    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-slate-300"
  >
    <ng-icon name="bootstrapSearch" class="w-5 h-5 mr-2" />
  </div>
  <input
    type="search"
    id="table-search"
    [formControl]="searchControl"
    (keydown.enter)="onEnter()"
    class="w-full shadow-sm bg-white text-gray-900 text-sm rounded-full block pl-10 px-2.5 py-2 focus:outline-none placeholder:text-slate-300"
    [placeholder]="placeholder || 'Search your food'"
  />
</div>
