<!-- Desktop Table (hidden lg:block) -->
<div
  class="hidden md:block px-3 relative md:max-h-[calc(100vh_-_170px)] lg:max-h-[calc(100vh_-_194px)] overflow-auto small-scrollbar"
>
  <table
    class="w-full min-w-full text-sm shadow-sm text-left rtl:text-right rounded-lg overflow-hidden text-gray-500 dark:text-gray-400 table-fixed box-border"
  >
    <!-- Header -->
    <thead
      class="sticky top-0 z-10 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr class="w-full">
        <ng-container *ngFor="let coloumn of coloumns">
          <th
            scope="col"
            class="px-6 py-3 box-border bg-gray-50 dark:bg-gray-700"
          >
            {{ coloumn.name }}
          </th>
        </ng-container>
      </tr>
    </thead>

    <tbody>
      <!-- Loading Placeholder -->
      <ng-container *ngIf="loading">
        <tr
          *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
          class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200"
        >
          <td *ngFor="let j of [1, 2, 3, 4, 5]" class="px-6 py-4">
            <div
              class="h-4 bg-gray-200 dark:bg-gray-600 rounded animate-pulse"
            ></div>
          </td>
        </tr>
      </ng-container>

      <!-- Data Not Available -->
      <tr
        *ngIf="!loading && bills.length === 0"
        class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200"
      >
        <td
          colspan="5"
          class="px-6 py-4 text-center text-gray-500 dark:text-gray-400"
        >
          Data not available
        </td>
      </tr>

      <!-- Data Rows -->
      <ng-container *ngIf="!loading && bills.length > 0">
        <tr
          *ngFor="let bill of bills"
          class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <td class="px-6 py-4 box-border font-medium text-gray-900 truncate">
            <ng-container *ngIf="!isUser; else justText">
              <a
                [routerLink]="[urlPage.CUSTOMER]"
                [queryParams]="{ name: bill.customerName }"
                class="hover:underline"
              >
                {{ bill.customerName }}
              </a>
            </ng-container>

            <ng-template #justText>
              <span
                [pTooltip]="getMenuNames(bill)"
                [autoHide]="false"
                tooltipPosition="top"
                class="text-sm"
              >
                {{ getMenuNames(bill) }}
              </span>
            </ng-template>
          </td>
          <td class="px-6 py-4 box-border truncate">
            {{ formatDate(bill.transDate) }}
          </td>
          <td class="px-6 py-4 box-border truncate">
            Rp. {{ bill.totalPayment | number: "1.0-0" }}
          </td>
          <td class="px-6 py-4 box-border truncate">
            {{ bill.payment.transactionStatus }}
          </td>
          <td class="px-1 box-border truncate">
            <div class="flex space-x-2">
              <button
                (click)="selectPayment(bill.payment.redirectUrl)"
                class="font-medium p-0.5 text-blue-600 cursor-pointer"
              >
                Bayar
              </button>
              <button
                (click)="selectBillDetail(bill.id)"
                class="font-medium p-0.5 cursor-pointer"
                [ngClass]="{
                  'text-blue-600': clickedBillId !== bill.id,
                  'text-[#F86901]': clickedBillId === bill.id,
                }"
              >
                Detail
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<!-- Mobile Table (lg:hidden) -->
<div class="md:hidden text-sm px-3 pt-2">
  <!-- skeleton loading -->
  <ng-container *ngIf="loading; else billList">
    <ng-container *ngFor="let i of [1, 2, 3]">
      <div
        class="bg-white border border-gray-100 rounded-lg shadow-sm p-5 mb-3 animate-pulse"
      >
        <div class="flex flex-col space-y-4">
          <!-- Header Row Skeleton -->
          <div class="flex justify-between items-center">
            <div class="h-4 w-24 bg-gray-200 rounded"></div>
            <div class="h-5 w-16 bg-gray-200 rounded-full"></div>
          </div>

          <!-- Content Section Skeleton -->
          <div class="flex flex-col">
            <div class="h-5 w-32 bg-gray-200 rounded"></div>
          </div>

          <!-- Footer Section Skeleton -->
          <div
            class="flex justify-between items-center pt-2 border-t border-gray-100"
          >
            <div class="flex flex-col">
              <div class="h-3 w-16 bg-gray-200 rounded mb-1"></div>
              <div class="flex items-center space-x-4">
                <div class="h-6 w-28 bg-gray-200 rounded"></div>
                <div class="h-4 w-12 bg-gray-200 rounded"></div>
              </div>
            </div>
            <div class="h-8 w-16 bg-gray-200 rounded-md"></div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <!-- Not Found -->
  <ng-container *ngIf="!loading && bills.length === 0">
    <div class="col-span-full text-center py-10">
      <p class="text-gray-500 text-lg">Data not available</p>
    </div>
  </ng-container>

  <ng-template #billList>
    <app-bill-card
      *ngFor="let bill of bills"
      [bill]="bill"
      [isUser]="isUser"
    ></app-bill-card>
  </ng-template>
</div>
