<div
  *ngIf="(modalState$ | async)?.isVisible"
  class="relative z-100"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="fixed inset-0 bg-gray-500/75 transition-opacity overflow-y-scroll"
    aria-hidden="true"
  ></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <ng-container *ngIf="modalState$ | async as state">
      <!-- Render cart modal -->
      <app-checkout-section *ngIf="state.type === MODAL_TYPES.CART" />

      <!-- Render small modal for logout -->
      <app-modal-small
        *ngIf="state.type === MODAL_TYPES.LOGOUT"
        title="Logout Confirmation"
        desc="Are you sure you want to logout?"
        buttonLabel="Logout"
        (onSubmit)="handleLogout()"
        (onClose)="closeModal()"
      />

      <!-- Render small modal for delete -->
      <app-modal-small
        *ngIf="state.type === MODAL_TYPES.DELETE"
        title="Delete Confirmation"
        desc="Are you sure you want to delete this item?"
        buttonLabel="Delete"
        (onSubmit)="executeCallback()"
        (onClose)="closeModal()"
      />

      <!-- render bill detail -->
      <app-bill-detail-modal-section
        (onClose)="closeModal()"
        *ngIf="state.type === MODAL_TYPES.BILL_DETAIL"
      />

      <!-- render menu form -->
      <app-menu-form-modal-section
        (onClose)="closeModal()"
        [type]="state.type"
        *ngIf="
          state.type === MODAL_TYPES.MENU_FORM ||
          state.type === MODAL_TYPES.MENU_FORM_BULK
        "
      />

      <!-- render confirm email -->
      <app-confirm-email-modal-section
        *ngIf="state.type === MODAL_TYPES.CONFIRM_EMAIL_FORM"
      />
    </ng-container>
  </div>
</div>
