<div
  class="bg-white rounded-lg transition-all"
  [ngClass]="
    showButton
      ? 'p-4 border shadow border-gray-200 md:rounded-none md:shadow-none md:border-none'
      : 'p-2 xs:p-4'
  "
>
  <div class="flex space-x-4">
    <div class="flex-1 space-y-2">
      <div class="flex justify-between items-center">
        <p class="font-bold text-lg text-black">
          {{ customer?.name }}
        </p>
        <small
          class="text-white p-0.5 rounded-sm flex justify-center items-center w-[60px]"
          [ngClass]="customer?.member ? 'bg-yellow-600' : 'bg-green-600'"
        >
          {{ customer?.member ? "Member" : "Basic" }}
        </small>
      </div>
      <p>
        {{ customer?.phoneNumber || "-" }}
      </p>
      <p class="xs:w-1/2 md:w-full">
        <span class="font-bold">Alamat :</span>
        {{ customer?.address || "-" }}
      </p>

      <div *ngIf="showButton" class="flex justify-end space-x-2">
        <p-button
          (click)="onDetail(customer!.id)"
          icon="pi pi-eye"
          size="small"
          severity="info"
          styleClass="!text-xs !px-2 !py-1"
        />
        <p-button
          (click)="updateCustomer()"
          [disabled]="customer?.member"
          icon="pi pi-pencil"
          size="small"
          severity="warn"
          styleClass="!text-xs !px-2 !py-1"
        />
      </div>
    </div>
  </div>
</div>
