<div
  class="flex flex-col h-screen px-2 xl:px-3 border-r-[1px] border-slate-300"
>
  <app-cart-header />

  <app-cart-admin-form
    [tables]="tables"
    [adminCartForm]="adminCartForm"
    (formSubmit)="onSubmit()"
  />

  <ng-container *ngIf="cartState$ | async as state">
    <div
      class="mt-1 h-[calc(100vh - 250px)] overflow-auto pt-3 pl-1 pr-3 md:pr-1 xl:pr-2 small-scrollbar"
    >
      <app-list-cart-admin-item [state]="state" />
    </div>
    <div class="pl-1 pr-2 w-full">
      <app-cart-summary [state]="state" [isShow]="false" />
      <p-button
        [label]="loading ? 'Loading' : 'Submit'"
        [styleClass]="'w-full lg:mt-[-30px] mb-3'"
        (click)="onSubmit()"
        [disabled]="adminCartForm.invalid || state.totalPrice === 0 || loading"
      />
    </div>
  </ng-container>
</div>
