@if (token) {
  <div class="wrap-container">
    <div class="container">
      <div class="content">
        <img src="/img/happy-birthday.gif" alt="Party Popper" class="icon" />
        <h1>Welcome to Warmakth!</h1>
        <p>
          Hi. A new account has been created for you on
          <a [routerLink]="urlPage.WELCOME">Warmakth</a>. Please click the link
          below to activate your account.
        </p>
        <button [disabled]="isLoading" (click)="onSubmit()" class="btn">
          {{ isLoading ? "Loading" : "Activate Account" }}
        </button>
      </div>
    </div>
  </div>
} @else {
  <app-notfound-page></app-notfound-page>
}
