@if (token) {
  <div class="container">
    <div class="content">
      <img src="/img/happy-birthday.gif" alt="Party Popper" class="icon" />
      <h1>Welcome to Restaurant!</h1>
      <p>
        Hi. A new account has been created for you on
        <a href="#">Restaurant</a>. Please click the link below to activate your
        account.
      </p>
      <button [disabled]="isLoading" (click)="onSubmit()" class="btn">
        {{ isLoading ? "Loading..." : "Activate Account" }}
      </button>
    </div>
  </div>
} @else {
  <app-notfound-page></app-notfound-page>
}
