<form
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="onSubmit()"
  novalidate
  class="forgot-password"
>
  <input type="email" formControlName="email" placeholder="Email" />
  <div
    *ngIf="
      forgotPasswordForm.controls['email'].touched &&
      forgotPasswordForm.controls['email'].invalid
    "
    class="text-red-500 text-sm mt-1"
  >
    {{ forgotPasswordForm.controls["email"].getError("zod") }}
  </div>
  <button [disabled]="(state$ | async)?.loading || forgotPasswordForm.invalid">
    {{ (state$ | async)?.loading ? "Loading..." : "Send Request" }}
  </button>
</form>

<a href="https://codepen.io/davinci/" target="_blank">check my other pens</a>
