<form
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="onSubmit()"
  novalidate
  class="forgot-password"
>
  <input type="email" formControlName="email" placeholder="Email" />
  @if (
    forgotPasswordForm.controls["email"].touched &&
    forgotPasswordForm.controls["email"].invalid
  ) {
    <div class="text-red-500 text-sm mt-1">
      {{ forgotPasswordForm.controls["email"].getError("zod") }}
    </div>
  }
  <button type="submit" [disabled]="isLoading || forgotPasswordForm.invalid">
    {{ isLoading ? "Loading..." : "Send Request" }}
  </button>
</form>
