<div
  [attr.id]="id"
  class="min-h-[50px] w-full mx-auto inline md:flex justify-center pt-0 xs:pt-8 md:pt-6 z-0 xl:px-6"
>
  <div class="lg:mt-0 w-full xs:w-1/2 md:flex order-2 justify-end">
    <img
      src="/img/hero-1.png"
      class="hidden md:flex ml-auto lg:mx-0 md:h-[300px] md:w-[270px] lg:h-[420px] lg:w-[390px] xl:h-[500px] xl:w-[470px]"
      alt="default"
    />
  </div>
  <div
    class="mr-auto w-full md:w-1/2 place-self-center lg:col-span-7 order-1 mt-4 xs:mt-0"
  >
    <div
      class="max-w-2xl mb-3 lg:mb-4 text-6xl leading-16 xs:text-5xl md:text-4xl md:leading-13 font-extrabold lg:leading-14 xl:leading-17 lg:text-5xl xl:text-6xl drop-shadow-md"
    >
      Special Food Every Time For You and The Fastest Delivery
    </div>

    <h2 class="text-xl md:text-md lg:text-xl mb-2">in Jakarta, IDN</h2>
    <p class="text-sm lg:text-lg">
      Be the fastest in delivering your healty food and with order your best
      food anytime
    </p>
    <div class="mt-4">
      <a
        [routerLink]="urlPage.LOGIN"
        href="https://github.com/THaetami"
        class="border-[#F86901] border hover:bg-[#F86901] hover:text-white px-2 py-2.5 md:px-5 text-lg font-medium text-center rounded-lg w-auto"
      >
        Get Started
      </a>
    </div>
  </div>
</div>
