<!-- Loading State -->
<ng-container *ngIf="state.loading">
  <div class="flex flex-col gap-4">
    <app-cart-admin-item
      *ngFor="let i of [1, 2, 3]"
      [item]="{
        id: '',
        name: 'Loading...',
        image: '',
        qty: 0,
        price: 0,
      }"
    />
  </div>
</ng-container>

<!-- Empty State -->
<ng-container
  *ngIf="!state.loading && (!state.cart || !state.cart.billRequest?.length)"
>
  <div class="text-center py-10 flex space-x-2 justify-center items-center">
    <ng-icon name="bootstrapInfoCircle" />
    <p class="text-gray-500 italic">Belum ada pesanan</p>
  </div>
</ng-container>

<!-- Cart Items -->
<ng-container *ngIf="!state.loading && state.cart?.billRequest?.length">
  <ng-container
    *ngFor="let item of state.cart?.billRequest; trackBy: trackById"
  >
    <app-cart-admin-item [item]="item" />
  </ng-container>
</ng-container>
