<div
  class="flex items-center gap-y-4 gap-x-3 mb-2 md:mb-3 p-3 shadow-sm rounded md:rounded-lg bg-white"
>
  <!-- Placeholder untuk gambar -->
  <ng-container *ngIf="!item.id; else imageTemplate">
    <div class="h-22 w-22 bg-gray-300 rounded animate-pulse"></div>
  </ng-container>
  <ng-template #imageTemplate>
    <img
      [src]="createImgUrl(item.image?.id)"
      [alt]="item.name || 'Item'"
      class="lg:hidden xl:block h-22 w-22 object-cover bg-amber-100 rounded-lg"
    />
  </ng-template>

  <ng-container *ngIf="item.id; else loadingPrice">
    <div class="flex-1 space-y-1">
      <p class="font-medium text-sm line-clamp-1 xl:text-md">
        {{ item.name }}
      </p>
      <div class="flex justify-between">
        <p class="text-sm xl:text-lg font-bold">
          Rp. {{ item.price | number: "1.0-0" }}
        </p>
        <p class="text-sm text-gray-600 font-semibold shrink-0">
          x {{ item.qty }}
        </p>
      </div>
      <div class="flex justify-between items-center">
        <p-inputnumber
          [(ngModel)]="item.qty"
          (ngModelChange)="updateQuantity(item.id, $event)"
          min="1"
          max="100"
          [showButtons]="true"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          inputId="horizontal"
          [inputStyle]="{ width: '3rem', padding: '3px' }"
          size="small"
        >
          <ng-template #incrementbuttonicon>
            <span class="pi pi-plus" style="font-size: 10px"></span>
          </ng-template>
          <ng-template #decrementbuttonicon>
            <span class="pi pi-minus" style="font-size: 10px"></span>
          </ng-template>
        </p-inputnumber>
        <p-button
          (click)="deleteMenuById(item.id)"
          icon="pi pi-trash"
          size="small"
          [style]="{
            padding: '3px',
            backgroundColor: 'white',
            color: 'red',
          }"
        />
      </div>
    </div>
  </ng-container>

  <ng-template #loadingPrice>
    <div class="flex-1 flex flex-col gap-1">
      <span
        class="inline-block h-5 w-3/4 bg-gray-300 rounded animate-pulse"
      ></span>
      <div class="flex justify-between">
        <span
          class="inline-block h-5 w-16 bg-gray-300 rounded animate-pulse"
        ></span>
        <span
          class="inline-block h-5 w-8 bg-gray-300 rounded animate-pulse"
        ></span>
      </div>
    </div>
  </ng-template>
</div>
