<div class="py-6 md:px-4">
  <div class="grid grid-cols-2 gap-x-2 gap-y-6 lg:grid-cols-3 xs:gap-6">
    <!-- Loading Skeletons -->
    <ng-container *ngIf="loading">
      <ng-container *ngFor="let i of [1, 2, 3]">
        <app-card-menu
          [menu]="{ id: '', name: '', price: '', image: '' }"
          (addToCart)="onAddToCart($event)"
        />
      </ng-container>
    </ng-container>

    <!-- Not Found -->
    <ng-container *ngIf="!loading && menus.length === 0">
      <div class="col-span-full text-center py-10">
        <p class="text-gray-500 text-lg">No search results found</p>
      </div>
    </ng-container>

    <!-- Real Data -->
    <ng-container *ngIf="!loading && menus.length > 0">
      <ng-container *ngFor="let menu of menus">
        <app-card-menu [menu]="menu" (addToCart)="onAddToCart($event)" />
      </ng-container>
    </ng-container>
  </div>
</div>
