<div class="min-h-screen bg-slate-200 md:bg-slate-100 p-2 lg:p-5">
  <p-button
    [icon]="showSidebar ? 'pi pi-arrow-left' : 'pi pi-arrow-right'"
    class="rounded-full md:hidden"
    [style]="{
      top: '8px',
      left: '10px',
      backgroundColor: 'white',
      border: 'none',
      color: 'black',
      position: 'absolute',
      padding: '6px',
    }"
    (onClick)="toggleSidebar()"
  />

  <div class="mx-auto h-full">
    <div
      class="grid grid-cols-5 gap-2 md:gap-3 lg:gap-5 h-[calc(100vh-18px)] lg:h-[calc(100vh-40px)]"
    >
      <!-- navigasi -->
      <div
        [ngClass]="{
          hidden: !showSidebar,
          block: showSidebar,
          'md:block': true,
        }"
        class="bg-white mt-[45px] lg:mt-0 p-2 xl:px-4 rounded-lg"
      >
        <nav class="py-4">
          <ul class="space-y-2">
            <li *ngFor="let item of navItems">
              <a
                [routerLink]="item.link"
                [ngClass]="{
                  'bg-gray-100 text-orange-500': isActiveSubRoute(item.link),
                  'text-gray-600': !isActiveSubRoute(item.link),
                }"
                class="flex items-center justify-center lg:justify-start p-4 xs:p-2 rounded-lg text-gray-600 hover:bg-gray-100"
              >
                <ng-icon
                  [name]="item.icon"
                  class="w-10 h-10 lg:mr-2 shrink-0"
                />
                <p class="hidden lg:block">{{ item.label }}</p>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- content -->
      <div
        [ngClass]="{
          'col-span-5': !showSidebar,
          'col-span-4': showSidebar,
          'md:col-span-4': true,
        }"
        class="bg-white mt-[45px] lg:mt-0 p-2 xl:px-4 rounded-lg"
      >
        <router-outlet />
      </div>
    </div>
  </div>
</div>
