<form
  [formGroup]="adminCartForm"
  (ngSubmit)="onSubmit()"
  class="w-full mt-2 mb-3 grid gap-2 lg:gap-3 xs:grid-cols-3 xs:mb-0 lg:grid-cols-1"
>
  <div class="w-full col-span-1 xs:col-span-2 lg:col-span-1">
    <div class="w-full grid grid-cols-2 gap-2 lg:gap-3">
      <div class="w-full">
        <p-floatlabel variant="on" class="w-full">
          <input
            type="text"
            pInputText
            id="customerName"
            class="w-full"
            [pKeyFilter]="alphaWithSpace"
            formControlName="customerName"
          />
          <label class="text-sm" for="customerName">Nama</label>
        </p-floatlabel>
        <small
          *ngIf="
            adminCartForm.get('customerName')?.invalid &&
            adminCartForm.get('customerName')?.touched
          "
          class="text-red-500 block mt-1"
        >
          {{ adminCartForm.get("customerName")?.errors?.["zod"] }}
        </small>
      </div>

      <div class="w-full">
        <p-floatlabel variant="on" class="w-full">
          <input
            type="text"
            pInputText
            id="customerPhone"
            class="w-full"
            pKeyFilter="num"
            formControlName="customerPhone"
          />
          <label class="text-sm" for="customerPhone">No. Hp</label>
        </p-floatlabel>
        <small
          *ngIf="
            adminCartForm.get('customerPhone')?.invalid &&
            adminCartForm.get('customerPhone')?.touched
          "
          class="text-red-500 block mt-1"
        >
          {{ adminCartForm.get("customerPhone")?.errors?.["zod"] }}
        </small>
      </div>
    </div>
  </div>

  <div class="w-full col-span-1 xs:col-span-1">
    <p-floatlabel variant="on" class="w-full">
      <p-select
        [options]="tables"
        formControlName="tableName"
        optionLabel="name"
        optionValue="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        id="tableName"
        class="w-full"
      >
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex items-center gap-2">
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
      </p-select>
      <label class="text-sm" for="tableName">Pilih Meja</label>
    </p-floatlabel>
    <small
      *ngIf="
        adminCartForm.get('tableName')?.invalid &&
        adminCartForm.get('tableName')?.touched
      "
      class="text-red-500 block mt-1"
    >
      {{ adminCartForm.get("tableName")?.errors?.["zod"] }}
    </small>
  </div>
</form>
