<div
  class="inline-block w-full xs:flex justify-between space-y-2 xs:space-y-0 gap-x-3 pb-2 px-2 lg:px-3 md:pb-4 items-center"
>
  <div
    class="w-full xs:w-[20%] md:w-[40%] xl:w-[40%] justify-between md:justify-end flex space-x-3 items-center"
  >
    <p-select
      [options]="transactionStatus"
      [(ngModel)]="selectedTransactionStatus"
      optionLabel="name"
      placeholder="Status"
      class="w-full"
      size="small"
      (onChange)="selectStatus($event.value)"
    />
    <p-select
      [options]="transType"
      [(ngModel)]="selectedTransType"
      optionLabel="name"
      placeholder="Tipe"
      class="w-full"
      size="small"
      (onChange)="selectTransType($event.value)"
    />
  </div>
  <div
    class="w-full xs:w-[50%] md:w-full xl:w-[50%] justify-between md:justify-end flex space-x-3 items-center"
  >
    <p-datepicker
      [(ngModel)]="from"
      showIcon
      size="small"
      placeholder="Mulai dari"
      (ngModelChange)="selectFrom($event)"
      readonlyInput
    />
    <p-datepicker
      [(ngModel)]="to"
      showIcon
      size="small"
      placeholder="Sampai"
      (ngModelChange)="selectTo($event)"
      readonlyInput
    />
    <p-button (click)="reset()" label="Reset" size="small" />
  </div>
</div>
