<div class="flex justify-between items-center pb-2 px-2 lg:px-3 md:pb-4">
  <div class="w-full flex space-x-4 items-center">
    <select
      class="border bg-white border-gray-300 text-gray-900 rounded-full block w-full px-2.5 py-2 text-sm focus:outline-none"
    >
      <option value="">loram</option>
    </select>
    <select
      class="border bg-white border-gray-300 text-gray-900 rounded-full block w-full px-2.5 py-2 text-sm focus:outline-none"
    >
      <option value="">loram</option>
    </select>
  </div>
</div>
