@layer utilities {
  /* Keyframes untuk animasi keluar dari atas ke bawah (show) */
  @keyframes show-sidebar-1 {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* Hanya terapkan animate-show-sidebar-1 di bawah 768px */
  .md\:animate-show-sidebar-1 {
    @media (max-width: 767px) {
      animation: show-sidebar-1 0.7s ease-out forwards;
    }
  }
}
