<div
  class="w-ful grid grid-cols-1 md:grid-cols-[65%_35%] lg:grid-cols-[75%_25%] xl:grid-cols-[70%_30%] bg-auth-layout"
>
  <div class="flex flex-col min-h-screen border-r-[1px] border-slate-300">
    <div
      class="py-2 px-2 lg:px-3 md:py-4 w-full flex items-center justify-between gap-x-2.5 sticky top-0 z-10 bg-auth-layout"
    >
      <app-searchbar
        [initialSearch]="initialSearch"
        (searchChange)="onSearch($event)"
        class="w-full mr-[85px] md:mr-0"
      />
    </div>
    <app-bill-filterbar class="bg-auth-layout" />
    <app-bill-table />
    <app-pagination
      [paginationData]="billPagination"
      [fetchData]="fetchBillByCurrentUser.bind(this)"
      class="mt-auto"
    />
  </div>
  <div class="hidden md:block w-full sticky top-0 z-10 h-screen bg-cart"></div>
</div>
