/* You can add global styles to this file, and also import other style files */

@use "@ngxpert/hot-toast/src/styles/styles.scss";
.custom-class {
  background-color: blue;
  color: white;
  padding: 1rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin: 0;
  font-family: "Sharp Sans";
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .container-guest {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.bg-cart {
  background: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 49%,
    rgba(253, 247, 242, 1) 100%
  );
}

.bg-auth-layout {
  background: #fdf5f1;
  background: linear-gradient(
    150deg,
    rgba(253, 245, 241, 1) 21%,
    rgba(252, 251, 252, 1) 37%
  );
}
