@font-face {
  font-family: "Sharp Sans";
  src: url("/fonts/SharpSans (8)-lzs3pZ5P.otf") format("opentype");
}

@import "tailwindcss";
@theme {
  --breakpoint-xxs: 390px;
  --breakpoint-xs: 600px;
}
