<div class="bg-white pb-[56px] md:pb-0">
  <app-user-table-header
    [searchText]="searchText"
    placeholder="Admin"
    (searchTextChange)="searchText = $event"
  >
    <p-button
      class="hidden md:block w-full md:w-[120px]"
      [style]="{
        width: '100%',
        padding: '8px',
      }"
      icon="pi pi-plus"
      label="Tambah"
      type="submit"
      size="small"
      (click)="addAdmin()"
    />
  </app-user-table-header>
  <p-table
    [columns]="cols"
    [value]="filteredAdmins"
    [paginator]="true"
    [rows]="rows"
    [first]="first"
    [totalRecords]="filteredAdmins.length"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPage)="onPageChange($event)"
    styleClass="w-full hidden md:block"
    [scrollable]="true"
    [scrollHeight]="'calc(100vh - 175px)'"
    stripedRows
    paginatorStyleClass="custom-paginator"
  >
    <ng-template #header let-columns>
      <tr class="bg-gray-50 w-full">
        <th
          *ngFor="let col of cols"
          class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-admin>
      <tr class="border-b border-gray-100 text-sm">
        <td
          *ngIf="!loading; else loaded"
          class="px-2 py-2 text-wrap break-all text-gray-500"
        >
          {{ admin.username }}
        </td>
        <td
          *ngIf="!loading; else loaded"
          class="px-2 py-2 text-wrap break-all text-gray-500"
        >
          {{ admin.email }}
        </td>
        <td
          *ngIf="!loading; else loaded"
          class="px-2 py-2 text-wrap text-gray-500"
        >
          {{ formatDate(admin.createdAt) }}
        </td>
        <td
          *ngIf="!loading; else loaded"
          class="px-2 py-2 text-wrap text-gray-500"
        >
          {{ formatDate(admin.updatedAt) }}
        </td>
        <td *ngIf="!loading; else loaded" class="px-0 py-2 font-medium">
          <div class="flex space-x-1">
            <button
              pButton
              pTooltip="Update Admin"
              tooltipPosition="top"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text p-button-sm !text-yellow-500 hover:!bg-blue-50"
              (click)="updateAdmin(admin.id)"
            ></button>
            <button
              pButton
              [disabled]="!IsSuperAdmin"
              [pTooltip]="getUserTooltip(admin.isEnable, IsSuperAdmin)"
              tooltipPosition="top"
              [icon]="getUserIcon(admin.isEnable)"
              [ngClass]="getUserIconClass(admin.isEnable)"
              class="p-button-rounded p-button-text p-button-sm hover:!bg-red-50 disabled:bg-white"
              (click)="activateOrInactivateUser(admin.id)"
            ></button>
          </div>
        </td>

        <ng-template #loaded>
          <td><p-skeleton></p-skeleton></td>
        </ng-template>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="px-6 py-4 text-center text-sm text-gray-500">
          @if (searchText) {
            No admin found matching "{{ searchText }}"
          } @else {
            No admin available
          }
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- table mobile md:hidden -->
  <div class="block md:hidden">
    <p-table
      [value]="filteredAdmins"
      [paginator]="true"
      [rows]="rows"
      [first]="first"
      [totalRecords]="filteredAdmins.length"
      [rowsPerPageOptions]="[5, 10, 20]"
      (onPage)="onPageChange($event)"
      styleClass="w-full"
      paginatorStyleClass="custom-paginator"
    >
      <ng-template #header>
        <tr class="bg-gray-50">
          <th
            class="py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider"
          >
            Admin Details
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-admin>
        <tr class="border-b border-gray-100">
          <td
            *ngIf="!loading; else loaded"
            class="py-3 px-0 border-b border-gray-100"
            [style]="{ padding: '20px 5px 20px 5px' }"
          >
            <app-admin-table-card
              [admin]="admin"
              (update)="updateAdmin($event)"
              (activateOrInactivate)="activateOrInactivateUser($event)"
            />
          </td>

          <ng-template #loaded>
            <td class="px-2 py-4">
              <p-skeleton width="100%" height="120px"></p-skeleton>
            </td>
          </ng-template>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="px-6 py-4 text-center text-sm text-gray-500">
            @if (searchText) {
              No admin found matching "{{ searchText }}"
            } @else {
              No admin available
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
